{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}

<style>
  .button_styles {
    text-align: center;
    padding-top: 10px;
  }
</style>



<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Note Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'notes_app:post_list' %}">Notes</a></li>
          <li>Note Details</li>
        </ol>
      </div>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Details Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-8">

          <article class="blog-details">
            {% if note.img %}
            <div class="post-img">
              <img src="{{note.img.url}}" alt="" class="img-fluid">
            </div>
            {% else %}
            <img src="{% static 'C:\New folder (2)\django\Notes\src\static\assets\img\default.jpg' %}" alt=""
              class="img-fluid"> {% endif %}

            <h2 class="title">{{note.title}}</h2>

            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                    href="{{note.get_absolute_url}}">{{note.user.username}}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                    href="{{note.get_absolute_url}}"><time datetime="2020-01-01">{{note.craeted}}</time></a></li>
              </ul>
            </div><!-- End meta top -->

            <div class="content">
              <p>
                {{note.content}}
              </p>

            </div><!-- End post content -->

            <div class="meta-bottom">


              <i class="bi bi-tags"></i>
              <ul class="tags">
                {% for tag in note.tags.all %}
                <li><a href="{% url 'notes_app:post_by_tags' tag %}">{{tag}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="button_styles">
              <a href="{% url 'notes:note_edit' note.id %}">
                {% bootstrap_button button_type="submit" content="Edit Note" %}</a>
            </div>
            <div class="button_styles">
              <a href="{% url 'notes:delete_note' note.id %}">
                {% bootstrap_button button_type="submit" content="Delete Note" %}</a>
            </div>

          </article><!-- End blog post -->


        </div>

        <div class="col-lg-4">

          <div class="sidebar">


            <div class="sidebar-item recent-posts">
              <h3 class="sidebar-title">Recent Posts</h3>

              <div class="mt-3">

                {% for post in recent_posts  %}

                <div class="mt-3">

                  <div class="post-item mt-3">
                    {% if post.img %}
                    <div class="post-img">
                      <img src="{{post.img.url}}" alt="" class="img-fluid">
                    </div>
                    {% else %}
                    <img src="{% static 'C:\New folder (2)\django\Notes\src\static\assets\img\default.jpg' %}" alt=""
                      class="img-fluid"> {% endif %}
                    <img src="{{post.image.url}}" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="{{post.get_absolute_url}}">{{post}}</a></h4>
                      <time datetime="2020-01-01">{{post.craeted}}</time>
                    </div>
                  </div><!-- End recent post item-->
                  {% endfor %}


                </div>

              </div><!-- End sidebar recent posts-->

            </div><br><!-- End Blog Sidebar -->
            <div class="sidebar-item tags">
                <h3 class="sidebar-title">Tags</h3>
                <ul class="mt-3">
                  {% for tag in note.tags.all %}
                  <li><a href="{% url 'notes_app:post_by_tags' tag %}">{{tag}}</a></li>
                  {% endfor %}
                </ul>
              </div><!-- End sidebar tags-->

          </div>
        </div>

      </div>
  </section><!-- End Blog Details Section -->

</main><!-- End #main -->
{% endblock body %}