{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block body %}
<style>
    .delete_form {
        margin-top: 150px;
        margin-bottom: 100px;
    }
</style>
<div class="delete_form">
    <h2 style="text-align:center;">Delete Post</h2>
    <form method="POST">
        <div class="containers">
            <div class="col-md-6 mx-auto mt-5">
                {% csrf_token %}
                <p>Are you sure that you want to delete the post ?</p>
                <div>
                    {% bootstrap_button button_type="submit" content="Yes , Delete" %}
                    <a href="{% url 'notes:post_list' %}">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock body %}