{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
<br><br><br>
<div class="container"><br>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'accounts:edit_profile'%}">User Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
      </ol>
    </nav>
    <div class="add_form">

        <div class="col-md-6 mx-auto mt-5">
            <h2 style="text-align:center;">Edit Profile</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                {% bootstrap_button button_type="submit" content="Edit Profile" %}
            </form>

        </div>

    </div>
</div>
<br><br><br>
{% endblock body %}