{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
<style>
  .button_styles {
    text-align: center;
    padding-top: 100px;
  }
</style>

<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
    data-aos="zoom-out">
    <img src="{% static 'assets/img/hero-carousel/hero-carousel-3.svg' %}" class="img-fluid animated">
    <h2>Welcome to <span>Quick Notes App</span></h2>
    <p>Create Awesome Note .. Everywhere.</p>
    <div class="d-flex">
      <a href="{% url 'notes_app:add_note' %}" class="btn-get-started scrollto">Get Started</a>
    </div>
  </div>
</section>

<main id="main">
  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Notes</h2>
        <h3>Your Recent notes</h3>
      </div>

      <div class="row">
        {% for note in recent_notes %}

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="post-box">
            {% if note.img %}
            <div class="post-img">
              <img src="{{note.img.url}}" alt="" class="img-fluid">
            </div>
            {% else %}
            <img src="{% static 'C:\New folder (2)\django\Notes\src\static\assets\img\default.jpg' %}" alt=""
              class="img-fluid"> {% endif %} <div class="meta">
              <span class="post-date">{{note.craeted}}</span>
              <span class="post-author"> / {{note.user.username}}</span>
            </div>
            <h3 class="post-title">{{note.title}}</p>
              <div class="content">
                <p>
                  {{note.content|truncatewords:'20'}}
                </p>
              </div>
              <a href="{{note.get_absolute_url}}" class="readmore stretched-link"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        {%endfor%}

      </div>

    </div>
    {% if request.user.is_authenticated %}
    <div class="button_styles">
      <a href="{% url 'notes_app:post_list' %}"> {% bootstrap_button button_type="submit" content="See More" %}</a>
    </div>
    {% else %}
    {% endif %}

  </section><!-- End Recent Blog Posts Section -->


</main><!-- End #main -->

{% endblock body %}